.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(10% + 1rem);
    box-shadow: 0px 10px 5px -7px rgba(0,0,0,0.43);
}

.navbar__logo {
    max-width: 20%;
}

.navbar__list {
    list-style: none;
}

.navbar__list__item {
    display: inline-block;
    margin: 0 1.5rem;
}

.navbar__list__link {
    text-decoration: none;
    color: purple;
}